.navbar {

position: fixed;
  top: 0;
  width: 100%;
}


#navlist{
  list-style-type: none;
  margin: 0;
  padding: 100;
  overflow: hidden;
  background-color: black;

}

h1{
  padding-top: 5%;
}

h2{
  text-decoration: underline;
}



.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  align-items: center;

}

li {
  float: left;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
}

li a:hover {
  background-color: #ABABAD ;
}


.item1 {
  grid-row-start: 2;
  grid-row-end: 3;

}

.item2{
  grid-column: 3;
  grid-row: 2;
  width: 60%;
  background-color: black;
  border-style: solid;
}

.item3{
  grid-row: 3;
  background-color: black;
  border-style: solid;
}


.item4{
  grid-row: 4;
  grid-column: 3;
  align-items: center;
  padding: 0;
  padding-right: 0;
};

.item4 h3{
  text-decoration: underline;

}


article{
  background-color: black;
  border-style: solid;
}

article h2{
  margin: 0%;
    text-decoration: underline;
    padding-bottom: 5%
}

article h3{

  padding-bottom: 2%;
}
article p{
  padding-top: 5%;
  padding-bottom: 2%;
}

article img{

  margin: auto;
  padding-top: 0%;
  padding-right: 5%;
  height: 700px;
  border-style: none;
  padding-left: 5%;
  padding-bottom: 2%;
}



.otherbody{
  margin-left: 10%;
  margin-right: 15%;

}


a{
  color: white;
}




#firstPara{
  font-size: 20px;
}


#title{
  margin: 10;

}

img{
  height: 370px;

  border-style: solid;
}


body{
  margin: 0%;
  background-color: #0E5C7D;
  color: white;
}


footer {
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}



.item3 h3{
  margin: 0px;
}

a:link{
  color: white;
}
